.hero-card {
  position: relative;

  @mixin hero-card-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--brief-length);
    -webkit-box-orient: vertical;
  }
  

  &.big {
    display: grid;
    grid-template-columns: 50% 50%;

    .story-brief {
      @include hero-card-ellipsis();
    }

    .gradient {
      position: absolute;
      height: 100%;
      padding-right: 20%;
      bottom: 0; left: 0;
      background-image: linear-gradient(to right, black , rgba(0, 0, 0, 0));
    }

    .border {
      position: absolute;
      height: 100%;
      width: 4px;
      left: -2px; top: 0;
      background-image: linear-gradient(to top, black , rgba(0, 0, 0, 0));
    }
  }

  &.small {
    display: block;

    .gradient {
      position: absolute;
      width: 100%;
      padding-top: 40%;
      bottom: 0; left: 0;
      background-image: linear-gradient(to top, black , rgba(0, 0, 0, 0));
    }

    .border {
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -2px; left: 0;
      background-image: linear-gradient(to top, black , rgba(0, 0, 0, 0));
    }

    .hero-card-info {
      padding: 32px;
      padding-bottom: 48px;
      .hero-card-info-container {
        position: relative !important;
        transform: translate(0, 0) !important;
        left: 0 !important;
        top: 0 !important;
      }
    }
  }

  @media only screen and (min-width: 1301px) {
    display: grid;
    grid-template-columns: 50% 50%;

    &.small {
      display: none;
    }
  }

  --container-width: 480px;
  --brief-length: 5;
  --brief-font-size: 16px;
  --brief-line-height: 28px;
  --title-font-size: 48px;
  --title-line-height: 1.25;
  --small-text-align: justify;
  --element-spacing: 12px;
  --small-font-adjust: 2px;

  --author-spacing: 24px;

  @media only screen and (max-width: 1300px) {
    --container-width: 420px;
    --brief-length: 4;
    --brief-font-size: 16px;
    --brief-line-height: 28px;
    --title-font-size: 40px;
    --title-line-height: 1.25;
    --small-text-align: justify;
    --element-spacing: 12px;

    --author-spacing: 20px;

    &.small {
      display: none;
    }
  }

  @media only screen and (max-width: 1050px) {
    --container-width: 400px;
    --brief-length: 4;
    --brief-font-size: 16px;
    --brief-line-height: 28px;
    --title-font-size: 32px;
    --title-line-height: 1.25;
    --small-text-align: justify;
    --element-spacing: 10px;

    --author-spacing: 20px;

    &.small {
      display: none;
    }
  }

  @media only screen and (max-width: 980px) {
    --container-width: 340px;
    --brief-length: 3;
    --brief-font-size: 14px;
    --brief-line-height: 24px;
    --title-font-size: 28px;
    --title-line-height: 1.25;
    --small-text-align: justify;
    --element-spacing: 8px;

    --author-spacing: 16px;

    &.small {
      display: none;
    }
  }

  @media only screen and (max-width: 800px) {
    --container-width: auto;
    --brief-length: 4;
    --brief-font-size: 14px;
    --brief-line-height: 24px;
    --title-font-size: 32px;
    --title-line-height: 1.25;
    --element-spacing: 12px;

    --author-spacing: 20px;

    --author-spacing: 16px;

    &.big {
      display: none;
    }

    &.small {
      display: block;
    }
  }

  .hero-card-cover {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
  }

  .hero-card-info {
    background-color: black;
    color: white;
    position: relative;

    .hero-card-info-container {

      // height: var(--container-width);
      position: absolute;
      transform: translate(-50%, -50%);
      left: 55%;
      top: 50%;
      width: var(--container-width);
      
      .vc {
        font-family: var(--font-family-article);
        height: 100%;
        margin: auto;
        text-align: left;

        .story-label {
          font-family: var(--font-family-system);
          font-size: calc(var(--brief-font-size) * 1);
          line-height: var(--brief-line-height);
          font-weight: bold;
          margin-left: var(--small-font-adjust);

          color: rgba(white, 0.56);
        }
      
        .story-title {
          font-size: var(--title-font-size);
          line-height: var(--title-line-height);
          font-weight: bold;
        }

        .story-brief {
          margin-left: var(--small-font-adjust);
          margin-top: var(--element-spacing);

          font-family: var(--font-family-system);
          font-size: var(--brief-font-size);
          line-height: var(--brief-line-height);

          text-align: var(--small-text-align);
        }

        .authors {
          margin-left: var(--small-font-adjust);
          margin-top: var(--element-spacing);

          font-size: var(--brief-font-size);
          line-height: var(--brief-line-height);

          font-family: var(--font-family-system);
          
          
          .author-container {
            &:not(:first-of-type) {
              margin-left: var(--author-spacing);
            }
            

            .author-role {
              position: relative;
              margin-right: 8px;
              color: rgba(white, 0.56);
            }

            .author-name {
              font-weight: bold;
            }
          }
        }

      }
    }

    
  }
}