// note: 這一頁 res 比較多
// note: search `@media screen` for responsiveness


.story-card {
  display: block;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;

    border-bottom: 1px dashed rgba(black, 0.08);
    padding-bottom: 16px;
  }

  .story-cover-container {
    .img {
      width: 100%; @media screen and (max-width: 800px) { width: 200px; }; @media screen and (max-width: 700px) { width: 160px; }; @media screen and (max-width: 600px) { width: 100px; };
      // padding-top: 56.25%;
      padding-top: 75%;
    }
  }

  .story-info-container {
    margin-top: 12px; @media screen and (max-width: 800px) { margin-top: 0 };
    .story-info {
      

      .story-title {
        font-size: 18px;
        line-height: 1.5;
        font-family: var(--font-family-article);
        font-weight: bold;
      }

      .story-brief {
        font-size: 14px;
        margin-top: 4px;

        color: var(--text-color-secondary-trans);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; @media screen and (max-width: 800px) { -webkit-line-clamp: 2; };
        -webkit-box-orient: vertical;
      }
    }

    .story-author-info-container {
      display: flex;
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.5;

      // text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      .story-author {
        display: inline;
        font-weight: bold;

        .role {
          color: var(--text-color-secondary-trans);
          margin-right: 4px;
        }

        &:not(:first-of-type) {
          margin-left: 8px;
          // &::before {
          //   content: "，"
          // }
        }
      }

      .story-update {
        color: var(--text-color-secondary-trans);
        &::before {
          content: "·";
          margin: 0 4px;
        }
      }
    }
  }
}
