.stories-section {
  // padding: 48px;
  // max-width: 1024px;
  // box-sizing: content-box;
  // margin: 0 auto;

  .stories-section-headline-container {
    
    &:empty {
      display: none;
    }
  }

  .stories-section-list-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 24px;
    gap: 24px 16px;
  }
}