.nbl-plus-article {
  display: flex;
  margin-top: 32px !important;

  article.nbl-plus-article-container {
    max-width: 760px;
    margin-left: 80px;
    
    position: relative;

    @media only screen and (max-width: 1080px) {
      margin: 0 auto;
    }

    *:first-child {
      margin-top: 0;
    }

    @mixin font-size($big, $small) {
      font-size: $big;
      @media only screen and (max-width: 800px) {font-size: $small;};
    }

    p {
      @include font-size(20px, 18px);

      line-height: 1.75;
      margin-top: 1em;
    }

    figure {
      margin: 2em 0;
      
      img {
        width: 100%;
      }

      figcaption {
        @include font-size(16px, 14px);

        margin-top: 1em;
        color: var(--text-color-secondary-trans);
        text-align: center;
      }
    }

    h2 {
      margin-top: 1.5em;
      @include font-size(24px, 20px);
      font-weight: bold;
    }
  }
}