.inst-page {
  .inst-body {
    padding-top: var(--nav-height);
    padding: 48px; @media screen and (max-width: 800px) {
      padding: 32px;
    }
    max-width: 1024px;
    box-sizing: content-box;
    margin: 0 auto;
  }
}